* {
   margin: 0px;
   padding: 0px;
}

.pt-serif-caption-regular {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.pt-serif-caption-regular-italic {
font-family: "PT Serif Caption", serif;
font-weight: 400;
font-style: italic;
}

header h1{
  text-align: center;
}



.newsreader {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.video {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;

}

.botones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izq cen der";
  gap: 10px;
  justify-content: center;
}

.izq{
  border: solid;
  border-color: lightblue;
  border-radius: 20px;
  padding: 6.5em;
  padding-top: 6em;
  margin-top: 7em;
  margin-left: 1em;
  background-color: lightgrey;
}

.izq h2{
  text-align: center;
}

.izq a{
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

.cen{
  border: solid;
  border-color: lightblue;
  border-radius: 20px;
  padding: 7em;
  padding-top: 6em;
  margin-top: 7em;
  background-color: lightgrey;
}

.cen h2{
  text-align: center;
}

.cen a{
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

.der{
  border: solid;
  border-color: lightblue;
  border-radius: 20px;
  padding: 7em;
  padding-top: 6em;
  margin-top: 7em;
  margin-right: 1em;
  background-color: lightgrey;
}

.der h2{
  text-align: center;
}

.der a{
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

a{
  text-decoration: none;
}

@media (max-width:768px) and (min-width:426px){
  
  .izq{
    padding: 5em;
    margin-top: 4em;
    margin-left: 4em;
  }

  .izq a{
    font-size: 0.5em;
   }

   .cen{
    padding: 5em;
    margin-top: 4em;
  }

  .cen a{
    font-size: 0.5em;
  }

  .der{
    padding: 5em;
    margin-top: 4em;
    margin-right: 4em;
  }

  .der a{
    font-size:0.5em;
  }
}

@media (max-width: 425px) and (min-width: 376px){
  
}